<% cache ["homes#index-v3"] do %>
  <div class="hero-unit">
    <h1 class="center">Draw from anywhere</h1>
    <ul class="thumbnails margin_center">
    <li>
      <div class="thumbnail">
        <%= image_tag "placeholder.gif", alt: "placeholder", class: "mt15" %>
      </div>
    </li>
    </ul>
    <p class="center lead">
      WhiteBoard allows realtime collaboration.  Work with someone in another city or even country and be able to see any changes to a drawing instantly.  Conduct meetings remotely and have up to 125 people view and add changes to your Whiteboard in realtime!
    </p>
    <p class="center">
      <%= link_to "Learn more <i class='icon-question-sign icon-white'></i>".html_safe, plans_path, class: "btn btn-info" %>
      <%= link_to "Sign Up <i class='icon-plus-sign icon-white'></i>".html_safe, new_user_registration_path,
       class: "btn btn-success" %>
    </p>
  </div>
  <div class="page-header">
    <h1>Try the Starter Plan for 30 Days for Free!</h1>
    <p class="lead">Sign up for the <strong>Starter plan</strong> of whiteboard with just your email address, password, and credit card.  <strong>You can cancel your trial of our Starter Plan anytime in the first 30 days, and your credit card will not be charged.</strong> The administrator for your account can cancel your subscription or change plans from the Manage tab.</p>
  </div>
  <div class="page-header">
    <h1>Work in the Cloud</h1>
    <p class="lead">WhiteBoard stores and backups all of your drawings in the cloud.  Draw something on one device and be able to seamlessly view or continue working on it on another.  Have the peace of mind that if you lose a device or it fails your drawings are safely secured in the cloud.</p>
  </div>
  <div class="page-header">
    <h1>Works on all Modern Browsers</h1>
    <p class="lead">Whiteboard works best with <strong>Google Chrome, FireFox, and Safari 6+.</strong>  We also support <strong>Internet Explorer 6+</strong> with Google's free <a href="http://www.google.com/chromeframe" target="_blank">Chrome Frame Plugin</a>, which brings HTML5 to outdated browsers.  Support for the <strong>iPad and iPhone</strong> is coming this Winter.</p>
  </div>

  <div class="page-header">
    <h1>What our users are saying</h1>
    <div class="row">
      <div class="span4">
        <blockquote>
          <p>Whiteboard has dramatically improved my company's design workflow.</p>
          <small>John P. <i class='icon-user icon-white'></i></small>
        </blockquote>
      </div>
      <div class="span4">
        <blockquote>
          <p>It's great to use a product that just works.</p>
          <small>Kevin S. <i class='icon-user icon-white'></i></small>
        </blockquote>
      </div>
      <div class="span4">
        <blockquote>
          <p>Whiteboard is great for doddling ideas down.</p>
          <small>Laura B. <i class='icon-user icon-white'></i></small>
        </blockquote>
      </div>
    </div>
      <div class="row">
        <div class="span4">
          <blockquote>
            <p>Thank you Whiteboard!</p>
            <small>Sheila D. <i class='icon-user icon-white'></i></small>
          </blockquote>
        </div>
        <div class="span4">
          <blockquote>
            <p>As a remote designer, presenting my work to my manager and being able to instantly change my design as she views it has been a huge productivity boost.</p>
            <small>Eileen K. <i class='icon-user icon-white'></i></small>
          </blockquote>
        </div>
        <div class="span4">
          <blockquote>
            <p>Whiteboard makes meetings fun!</p>
            <small>Pat G. <i class='icon-user icon-white'></i></small>
          </blockquote>
        </div>
    </div>
  </div>
<% end %>