<div class="hero-unit">
  <h1>Heading</h1>
  <p>Tagline</p>
  <p>
    <a class="btn btn-info">
      Learn more
      <i class="icon-question-sign icon-white"></i>
    </a>
    <a class="btn btn-success btn-large">
      Sign Up
      <i class="icon-plus-sign icon-white"></i>
    </a>
  </p>
</div>