#error_explanation{
  background-color: #DF6E1E;
  color: rgba(255, 255, 255, 0.9);
  padding-bottom: 5px;
  h2, ul {
    padding-left: 20px;
  }
}

input[type="submit"]{
  background-color: #7FC518;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.9);
}
.center {
  text-align: center;
}
.plain_link {
  font-weight: bold;
}

.float_right {
  float: right;
}
.mt15{
  margin-top: 15px;
}
strong {
  color: #7FC518;
}
.mb30 {
  margin-bottom: 30px;
}

.mr15 {
  margin-right: 15px;
}
.ml15 {
  margin-left: 15px;
}
.inline {
  display: inline;
}

.btn {
  border-radius: 15px;
}

.field_with_errors {
  display: inline;
}

#error_explanation {
  margin-bottom: 10px;
  padding-right: 10px;
}
.slide {
  background-color: #AD1D28;
  text-align: center;
  display: inline-block;
  margin-right: 15px;
  border-radius: 15px;

  .slide_contents {
    padding: 15px 20px 0px 20px;
    margin-top: 10px;
  }
}
.add_slide {
  width: 240px;
  height: 155px;
  vertical-align: top;

  .add_white_board {
    position: relative;
    top: -70px;
  }
}
.slide_holder {
  height: 155px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 15px;
  width: 965px;
}

#previous_slide {
  margin-top: -100px;
  margin-right: 15px;
}

#next_slide {
  margin-top: -100px;
}

.plan {
  border: 5px solid #AD1D28;
  border-radius: 60px;
  padding: 20px 20px 0px 20px;
  color: #AD1D28;
  background-color: #FFF;
  text-align: center;
  font-size: 16px;
  margin: 0px;

  ul {
    margin-top: 20px;

    li {
      padding: 20px 0;
      border-bottom: 1px dotted;
    }

    li.no_border {
      border: none;
    }
  }
}
.plan_notes {
  margin-top: 15px;
  text-align: center;
}