<div class="center canvas_navbar">
    <a class="btn" data-behavior="pen_tool">Pen</a>
    <a class="btn" data-behavior="erase_tool">Erase</a>
    <input type="color" data-behavior="color_picker" class="color_picker" />
    <a class="btn" data-behavior="save_tool" data-url=<%= project_project_images_path(@project) %>>Save</a>
</div>
<div class="center">
  <canvas>
    Your browser does not support HTML5.  Please use the latest version of Google Chrome, Safari, FireFox, or use Internet Explorer 7+ with the free Google Chrome Plugin, which can be downloaded <%= link_to "here", "http://www.google.com/chromeframe" %>.
  </canvas>
</div>