<div class="page-header center">
  <h1>Project Image for <%= @project.name %></h1>
</div>

<div class="center">
  <div class="btn-group">
    <a class="btn" data-behavior="pen_tool">Pen</a>
    <a class="btn" data-behavior="erase_tool">Erase</a>
    <input type="color" data-behavior="color_picker" />
  </div>
  <canvas>
    Your browser does not support HTML5.  Please use the latest version of Google Chrome, Safari, FireFox, or use Internet Explorer 7+ with the free Google Chrome Plugin, which can be downloaded <%= link_to "here", "http://www.google.com/chromeframe" %>.
  </canvas>
</div>