<%- if flash[:alert].present? -%>
  <div class="alert alert-warning">
    <button class="close" data-dismiss="alert">×</button>
    <%= flash[:alert] %>
  </div>
<%- elsif flash[:notice].present? -%>
  <div class="alert alert-info">
    <button class="close" data-dismiss="alert">×</button>
    <%= flash[:notice] %>
  </div>
<%- end -%>

<%- if flash[:analytics].present? -%>
  <script type="text/javascript">
    _gaq.push(['_trackPageview', '<%= flash[:analytics] %>']);
  </script>
<%- end -%>

<%- browser = Browser.new(ua: request.env['HTTP_USER_AGENT'], accept_language: "en-us") -%>
<%- if browser.ie? -%>
  <div class="alert alert-warning">
    <button class="close" data-dismiss="alert">×</button>
    <span>Hello Internet Explorer user,</span>
    <p><b>Whiteboard works best with Chrome, FireFox, or Safari.</b>  All three are available for FREE and take less than 5 minutes to install. <b>Internet Explorer does not support the cutting edge features that Whiteboard implements to give you the best possible experience.</b> Please consider switching browsers. You will be amazed at how much better every website will look and work for you.</p>
  </div>
<%- end -%>